<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>application-identifier</key>
   <string>com.autopear.ipainstaller</string>
   <key>com.apple.private.mobileinstall.allowedSPI</key>
   <array>
      <string>Install</string>
      <string>Browse</string>
      <string>Uninstall</string>
      <string>InstallForLaunchServices</string>
      <string>UninstallForLaunchServices</string>
   </array>
   <key>com.apple.springboard.debugapplications</key>
   <true/>
   <key>get-task-allow</key>
   <true/>
   <key>task_for_pid-allow</key>
   <true/>
   <key>platform-application</key>
   <true/>
</dict>
</plist>