Package: com.autopear.installipa
Version: 3.4.1
Architecture: iphoneos-arm
Pre-Depends: firmware (>= 4.0), gsc.armv7
Section: Utilities
Priority: optional
Description: Install IPA from the command line.
Tag: role::enduser, purpose::console
Author: Merlin
Name: IPA Installer Console
dev: lonelystars
Maintainer: BigBoss <bigboss@thebigboss.org>
Sponsor: thebigboss.org <http://thebigboss.org/>
