Package: com.autopear.ipainstaller
Version: 2.0
Architecture: iphoneos-arm
Maintainer: apt@app111 <apt@app111.com>
Pre-Depends: firmware (>= 4.0)
Conflicts: com.autopear.installipa
Replaces: com.autopear.installipa
Provides: com.autopear.installipa
Section: Utilities
Priority: standard
Description: Install IPA from the console.
Tag: role::enduser, purpose::console
Author: Merlin <lonelystars@gmail.com>
Name: IPA Installer Console
dev: lonelystars
Maintainer: BigBoss <bigboss@thebigboss.org>
Sponsor: thebigboss.org <http://thebigboss.org/>
